/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
.app {
  max-height: 100vh; }

/* customize */
.columns {
  margin-top: 0; }

/*.input, .textarea, .select {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #cfd8dc57;
  border-radius: 0;
  outline: none;
}

input:active, textarea:active, select:active {
  box-shadow: none;
}
*/
/* layout */
.main, .overview, .menu {
  padding: 1.5rem 1.5rem; }

/* sidebar menu */
.menu {
  background-color: #2c435f;
  /*max-width: 200px;
  min-width: 200px;
  width: 200px;*/ }

.menu-list a {
  color: #c4e0ff; }

.font-icon {
  margin-right: 10px;
  width: 20px !important;
  height: 20px; }

/* overview */
.overview {
  background-color: #eceff1;
  padding: 0;
  padding-top: 1.5rem;
  border-right: 1px solid #efefefeb;
  box-shadow: 1px 0px 10px #dcdcdc61;
  overflow-y: auto; }

.ov-header, .ov-item {
  padding: 0.5rem 1.5rem; }

.overview .active-item {
  background: #ffffff; }

.ov-item {
  border: 1px solid #cfd8dc57;
  border-left: none;
  border-right: none;
  margin-top: -1px;
  padding: 1.5rem 1.5rem; }

.ov-title {
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 0.5rem; }

.ov-description {
  font-size: 12px;
  color: #546e7a; }

/* main */
.main {
  background-color: #fbfbfb; }

.header h1 {
  font-size: 24px;
  padding-bottom: 1.5rem; }
